#root {
  height: 100%;
  background: #fff;
  max-width: 800px;
  
  .all{
    height: 100%;
    background:red;
    z-index: 10;
  }
}

// @font-face {
//   font-family: 'yofont';
//   src: url('/iconfonts/iconfont.eot');
//   src: url('/iconfonts/iconfont.eot?#iefix') format('embedded-opentype'),
//   url('/iconfonts/iconfont.woff') format('woff'),
//   url('/iconfonts/iconfont.ttf') format('truetype'),
//   url('/iconfonts/iconfont.svg#iconfont') format('svg');
// }

.TalionNav {
  height: .44rem;
  
  font-size: .24rem;
  line-height: .44rem;
  min-width: 300px ;
  @include flexbox();
  @include justify-content(center);
  .top-nav{
    @include flexbox();
    @include justify-content(space-between);
      width: 93%;
   }
  h1{
   
    color: rgb(10, 179, 10);
  }
 nav{
  
   ul{
    
    li{
      float: left;
      font-size: .16rem;
      margin-right: 19px;
      line-height: 44px;
      
      
    }
    span{
      display: block;
      float: right;
      img{
        width: 26px;
      }
    }
  }
 }
}
.content{
    height:100% ;
   
}

